*{
	font-family: "Montserrat", sans-serif;
	color: #fff;
	margin: 0;
}
body,html{
	margin: 0;
	background-color: #252427;
	overflow-x: hidden;
}
.header {
	width: 100vw;
	margin-top: 30px;
}
.name {
	padding: 10px 25px;
	background: linear-gradient(360deg, rgba(60,58,68,1) 0%, rgba(44,42,47,1) 100%);
	border-radius: 50px;
	width: 360px;
	height: 40px;
	transition: 0.15s ease all;
	border: rgba(255,255,255,0.1) 1px solid;
}
.name:hover{
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: 0px 0px 10.008px 0px rgba(255, 255, 255, 0.15);
}
.name p {
	font-size: 25px;
}
.header a {
	text-decoration: none;
	position: absolute;
	left: 20px;
}
.content{
	width: 100vw;
	gap: 40px;
	margin-top: 100px;
}
.crypt-form{
	background-color: rgba(255, 255, 255, 0.1);
	width: 20vw;
	border-radius: 20px;
	padding: 30px;
	border: rgba(255,255,255,0.1) 2px solid;
	transition: 0.15s ease all;
	gap: 10px;
}
.crypt-form:hover{
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: 0px 0px 10.008px 0px rgba(255, 255, 255, 0.15);
}
.w500{
	font-weight: 500;
}
.crypt-form2{
	gap: 20px;
	margin-top: 20px;
}
.name-form{
	font-size: 25px;
	width: 100%;
}
.operation{
	font-size: 18px;
	margin-bottom: 10px;
}
label {
	font-size: 16px;
}
.random{
	gap: 10px;
}
.obg{gap:3px}
.key {
	width: 230px !important;
}
.random-btn{
	width: 70px;
	border: none;
	background: linear-gradient(95deg, rgba(255,13,0,1) 0%, rgba(255,111,0,1) 100%);
	transition: 0.3s ease all;
	font-size: 24px;
	border-radius: 15px;
	cursor: pointer;

}
.random-btn:hover{
	box-shadow: 0px 0px 10.008px 0px rgba(255,111,0,1);
}
.inputsend{
	display: flex;
	background-color: rgba(255, 255, 255, 0.15);
	border: rgba(255,255,255,0.1) 2px solid;
	font-size: 18px;
	border-radius: 10px;
	height: 60px;
}
.inputsend::placeholder{
	color: #ccc;
}
.inputsend:focus {
  outline: none;
  border: rgba(255,255,255,0.3) 2px solid;
}
#answer{
	width: 270px;
}
.btnpar{
	width: 100%;
}
.button{
	border: none;
	background: linear-gradient(95deg, rgba(255,13,0,1) 0%, rgba(255,111,0,1) 100%);
	transition: 0.3s ease all;
	cursor: pointer;
	width: 270px;
	height: 58px;
	border-radius: 15px;
	font-size: 18px;
}
.button:hover{
	box-shadow: 0px 0px 10.008px 0px rgba(255,111,0,1);
}
html{ scroll-behavior: smooth; }
::-webkit-scrollbar {
	width: 0.5rem;
	border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 0.125rem;
	background: linear-gradient(95deg, rgba(255,13,0,1) 0%, rgba(255,111,0,1) 100%);
}

::-webkit-scrollbar-track {
	border-radius: 0.125rem;
	background-color: #0D0D11;
}
@media screen and (max-width: 1400px){
		.crypt-form{
		width: 25vw;
	}
}
@media screen and (max-width: 900px) {
		.crypt-form{
		width: 40vw;
	}
	.content{
		flex-direction: column;
	}
	.random-message {
	font-size: 28px !important;
}
	.rememb{
		width: 100vw !important;
	}
}
@media screen and (max-width: 600px) {
		.crypt-form{
		width: 55vw;
	}
	.name{
		width: 200px;
	}
	.name p {
		font-size: 18px;
	}
	.random-message {
	font-size: 24px !important;
}
}
@media screen and (max-width: 400px) {
	.name{
		width: 150px;
	}
	.name p {
		font-size: 13px;
	}
	.header a {
		left: 5px;
	}
	#answer{
	width: 180px;
}
}
@media screen and (max-width: 450px) {
		.crypt-form{
		width: 70vw;
	}
	.key{
		width: 140px !important;
	}
	.random-btn{
		width: 40px;
	}
	.button{
		width: 180px;
	}
	.rememb{
		height: 100vh !important;
	}
	.random-message{
		font-size: 18px !important;
	}
}
.check-parrent{
	align-items: start;
	gap: 10px;
}
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Створюємо кастомний чекбокс */
.custom-checkbox .checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  margin-right: 8px;
  transition: 0.2s ease all;
  border: rgba(255,255,255,0.2) 2px solid;
}

/* Стилізуємо чекбокс після вибору */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #4CAF50;
  border: rgba(0,0,0,0.3) 2px solid;

}
.answ{
	gap: 25px;
	display: none;
}
.inforem{
	position: fixed;
	top: 100px;
	font-size: 20px;
}
.timerem{
	position: fixed;
	top: 20vh;
	background-color: rgba(255, 255, 255, 0.15);
	padding: 10px;
	border-radius: 5px;
	border-radius: rgba(255, 255, 255, 0.15) 1px solid;
}
@media screen and (max-height: 650px){
	.timerem{
		top: 10vh !important;
	}
	.inforem{
		display: none;
	}
}
@media screen and (max-height: 350px){
	.timerem{
		top: 0vh !important;
	}
}
.rememb{
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	border: rgba(255,255,255,0.1) 2px solid;
	backdrop-filter: blur(2px);
	border-radius: 10px;
	position: fixed;
	top: 0px;
	width: 80vw;
	height: 100vh;
	z-index: 10;

}
.back{
	position: fixed;
	top: 50px;
	left: 5vw;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.15);
	transition: ease all 0.3s;
}
.back:hover{
	background-color: rgba(255, 255, 255, 0.10);
}
.random-message {
	font-size: 35px;
	padding: 20px;
	word-break: break-all;
  overflow-wrap: break-word;
}
.error{
	color: #ff0000;
	display: none;
}